1.  What are data structures, and why are they important

-----> A data structure is a specialized format for organizing, processing, retrieving and storing data. There are several basic and advanced types of data structures, all designed to arrange data to suit a specific purpose. Data structures make it easy for users to access and work with the data they need.

*  There are many important data structures of which a few of them are mentioned below:
Array. Array is a sequential arrangement of elements of the same data type, stored in contiguous memory locations. ...
String. String is a collection of characters that represent text. ...
Stacks. ...
Queues. ...
Linked List. ...
Trees. ...
Heaps. ...
Graphs.

2.   Explain the difference between mutable and immutable data types with examples

---->  Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can't be changed.

3. What are the main differences between lists and tuples in Python

---->  The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable. This means tuples cannot be changed while lists can be modified. Tuples are also more memory efficient than the lists


4.  Describe how dictionaries store data

---->  Python's dictionary allows you to store key-value pairs, and then pass the dictionary a key to quickly retrieve its corresponding value. Specifically, you construct the dictionary by specifying one-way mappings from key-objects to value-objects. Each key must map to exactly one value, meaning that a key must be unique.

5.  Why might you use a set instead of a list in Python

---->  Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6. What is a string in Python, and how is it different from a list

---->  A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python

----->  Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed

8. What is a hash table, and how does it relate to dictionaries in Python

---->  A hash table is a data structure that stores key-value pairs, and Python dictionaries are built using hash tables:
----> What is a hash table?
A hash table is a data structure that stores key-value pairs, where each key has a unique index value. A hash function is used to convert keys into array indices, where the values are stored. This allows for quick access to data when the index is available.
----> How does it relate to Python dictionaries?
Python dictionaries are implemented using hash tables. The keys in a Python dictionary are generated using a hashing function.

9.  Can lists contain different data types in Python

---->  Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

 10.   Explain why strings are immutable in Python
 ----->  Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct *new* strings as we go to represent computed values.

 11. What advantages do dictionaries offer over lists for certain tasks

 -----> Dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary.

 12.  Describe a scenario where using a tuple would be preferable over a list

 ----->  Tuples are faster than lists. Tuples make the code safe from any accidental modification. If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.

13.  How do sets handle duplicate values in Python.

----> You can eliminate duplicates from a list, tuple, or string by converting it to a set and then back to the original type. For example, you can write: numbers = [1, 2, 3, 3, 4, 5, 5, 6] numbers = list(set(numbers)) print(numbers) This will remove the duplicate 3 and 5 from the numbers list

14.   How does the “in” keyword work differently for lists and dictionaries

----> The in keyword is a versatile operator in Python, used to check membership within sequences and mappings. However, its behavior differs slightly when used with lists and dictionaries.

* Lists
When used with lists, the in keyword checks if a specific element is present within the list. It iterates through the list, comparing each element to the target value. If a match is found, it returns True; otherwise, it returns False.

* Dictionaries
When used with dictionaries, the in keyword checks if a specific key is present in the dictionary. It doesn't check for values, but rather the existence of the key itself.

15.   Can you modify the elements of a tuple? Explain why or why not

----->  Tuples are immutable data structures, meaning their contents cannot be changed once they are created. This is a fundamental characteristic that distinguishes them from lists, which are mutable.

*  Why are tuples immutable?
Efficiency: Immutable objects can be optimized by the Python interpreter, leading to faster execution.
Reliability: Immutability ensures that the data within a tuple remains constant, preventing accidental modifications and making code more predictable.
Hashing: Tuples can be used as keys in dictionaries because their immutability guarantees a consistent hash value.
However, you can work around this limitation by:

* Converting to a List:

Convert the tuple to a list, which is mutable.
Modify the list elements.
Convert the list back to a tuple.


16.  What is a nested dictionary, and give an example of its use case

* Nested Dictionary

A nested dictionary is a dictionary within another dictionary. It's a powerful data structure for organizing complex hierarchical data.

In [1]:
students = {
    "student1": {
        "name": "Alice",
        "age": 15,
        "grades": {
            "math": 95,
            "science": 88,
            "english": 92
        }
    },
    "student2": {
        "name": "Bob",
        "age": 16,
        "grades": {
            "math": 85,
            "science": 90,
            "english": 87
        }
    }
}

In [2]:
students["student1"]

{'name': 'Alice',
 'age': 15,
 'grades': {'math': 95, 'science': 88, 'english': 92}}

17.  Describe the time complexity of accessing elements in a dictionary

----> Typically, accessing an element in a Python dictionary has an average time complexity of O(1). This means that the time taken to retrieve a value based on its key is constant, regardless of the size of the dictionary.

18.  In what situations are lists preferred over dictionaries

---->  Lists can duplicate values since each values have unique index. Dictionaries cannot contain duplicate keys but can contain duplicate values since each value has unique key. Average time taken to search a value in list takes O[n]. Average time taken to search a key in dictionary takes O[1]


19. Why are dictionaries considered unordered, and how does that affect data retrieval

---->  Dictionaries in Python are implemented using hash tables. A hash table is a data structure that stores key-value pairs. When you add a key-value pair to a dictionary, a hash function is applied to the key to generate a hash code. This hash code determines the index in the underlying array where the key-value pair will be stored.

The key point is that the order of elements in a hash table is determined by the hash function, not by the insertion order. This means that the order of elements in a dictionary is not guaranteed to be the same as the order in which they were inserted.

20.   Explain the difference between a list and a dictionary in terms of data retrieval.

---->  A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [3]:
                         #  Practical Questions
## 1.  Write a code to create a string with your name and print it

name = "Sandeep"
print(name)

Sandeep

In [4]:
## 2.  Write a code to find the length of the string "Hello World"

string = "Hello World"
len(string)

11

In [5]:
## 3.  Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
string[:3]

'Pyt'

In [11]:
## 4.  Write a code to convert the string "hello" to uppercase

s = "hello"
res = s.upper()
print(res)

HELLO

In [13]:
## 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

s = "i like apple"
res = s.replace("apple", "orange")
print(res)

i like orange

In [14]:
## 6.  Write a code to create a list with numbers 1 to 5 and print it

list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [15]:
## 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [16]:
## 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [18]:
## 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a','b','c','d']
list[1]

'b'

In [19]:
## 10.  Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10,20,30,40,50]
# list[::-1]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [20]:
## 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [21]:
##  12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

In [22]:
##  13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuple = (1,2,3,2,4,2)
tuple.count(2)

3

In [26]:
##  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [27]:
##  15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

tuple = ('apple', 'orange', 'banana')
"banana" in tuple

True

In [28]:
##  16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [29]:
##  17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [30]:
##  18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [32]:
##  19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

In [33]:
##  20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuple = (1,2,3,2,4,2)
tuple.count(2)

3

In [34]:
##  21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [35]:
##  22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

tuple = ('apple', 'orange', 'banana')
"banana" in tuple

True

In [36]:
##  23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [37]:
##  24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

set = {1,2,3,4}
set.add(6)
print(set)
#

{1, 2, 3, 4, 6}